@{
    Layout = "_Layout";
}

@model Pierre.Models.Treat

<h1>Add a Treat</h1>
<hr>
@using (Html.BeginForm())
{
    @Html.Label("Treat Type: ")
    @Html.TextBoxFor(model => model.TreatType)
    <br>
    @Html.Label("Flavor you would like to add to this treat: ")
    @Html.DropDownList("FlavorId", " ")
    <br>
    <input type="submit" value="Add Treat" class="btn btn-info">
}
<hr>
<p>@Html.ActionLink("Back to Treat List", "Index")</p>
<p>@Html.ActionLink("Back to Home Page", "Index", "Home")</p>