@{
    Layout = "_Layout";
}

@model Pierre.Models.Flavor

<h1>Flavor Details</h1>
<hr>
<div class="box">
@if (@Model.Treats.Count == 0)
{
    <p>This flavor has not been assigned to any treats</p>
}
else
{
    <h3>Treats with this flavor:</h3>
    <ul>
    @foreach (var join in Model.Treats)
    {
        <li>@join.Treat.TreatType</li>
        @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
        {
            @using (Html.BeginForm("DeleteTreat", "Flavors"))
            {
                @Html.Hidden("joinId", @join.FlavorTreatId)
                <input type="submit" value="Remove Treat from Flavor" class="btn btn-info">
            }
        }
    }
    </ul>
}
</div>
<hr>
@if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
{
    <p>@Html.ActionLink("Edit This Flavor", "Edit", new { id = Model.FlavorId })</p>
    <p>@Html.ActionLink("Add Treat To Flavor", "AddTreat", new { id = Model.FlavorId})</p>
    <p>@Html.ActionLink("Delete This Flavor", "Delete", new { id = Model.FlavorId})</p>
}
<p>@Html.ActionLink("View All Flavors", "Index")</p>